<mat-toolbar color="primary" class="app-header" xmlns:font-family="http://www.w3.org/1999/xhtml">
  <!--  <span><img src="assets/logo.png" alt="Teamly"></span>-->
  <span><a>Teamly</a></span>
  <span class="nav-tool-items">
    <a mat-button routerLink="login" routerLinkActive="active">Войти</a>
    <a mat-button routerLink="join" routerLinkActive="active">Хочу присоединиться</a>
    <a mat-button> </a>
    <a mat-button routerLink="about" routerLinkActive="active">О нас</a>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>
