<!--<div class="deal-card">-->
<!--  <mat-card appMaterialElevation class="flex-lg-20" (click)="openOnClick($event, deal)">-->
<!--    <mat-card-header>-->
<!--      <mat-card-title class="mat-card-title">{{deal.name}}</mat-card-title>-->
<!--    </mat-card-header>-->
<!--    <mat-card-content>-->
<!--      // some sort of information-->
<!--    </mat-card-content>-->
<!--  </mat-card>-->
<!--</div>-->


<img class="image" mat-card-image src="{{deal.img}}" alt="photo" (click)="openOnClick($event, deal)">
<mat-card-title>{{deal.name}}</mat-card-title>
<mat-card-content>
  <p>
    test
  </p>
</mat-card-content>
<mat-card-actions align="end">

</mat-card-actions>
