<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Хочу присоединиться</mat-card-title>
    </mat-card-header>
    <mat-card-subtitle>Если вы хотите, чтобы ваша компания присоединалсь к нам - оставьте свои данные, и мы свяжемся с вами</mat-card-subtitle>

    <form class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Почта для связи">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Имя">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Телефон">
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block">Отправить</button>
    </form>
  </mat-card>

</div>
